* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.customCursor {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid black;
  background-color: transparent;
  position: absolute;
  transform-origin: center center;
  translate: -50% -50%;
  pointer-events: none;
  mix-blend-mode: difference;
}